[submodule "plugins/zsh-completions"]
	path = plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "plugins/ohmyzsh"]
	path = plugins/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
