"*":
  core:
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "e0f77934-8a3c-ef20-a5c7-e74b11d52728"
  "lisp-paredit": {}
  "one-dark-ui": {}
  "proto-repl":
    autoPrettyPrint: true
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
  "vim-mode-plus":
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    nonWordCharacters: "()\"':,;~@#$%^&{}[]`"
    scrollPastEnd: true
    tabLength: 1
".css.scss.source":
  editor:
    tabLength: 4
".js.regexp.replacement.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…$"
".js.regexp.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…$"
".js.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
